.close {
  opacity: .75;

  @include hover-focus {
    opacity: 1;
  }

  &::before {
    @include eleganticon;

    content: "\4d";
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

// stylelint-disable property-no-vendor-prefix, selector-no-qualifying-type
button.close {
  cursor: pointer;
  outline: none;
}
// stylelint-enable
