// --
// Custom Block (shortcode)
// -------------------

.custom-block {
  padding: 1.875rem ($grid-gutter-width * .75);
  padding-bottom: .625rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  background-color: $gray-200;

  &.graylight {
    background-color: $gray-200;
  }

  &.gray {
    background-color: $gray-500;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    p,
    li {
      color: $white;
    }
  }

  &.primary {
    background-color: $primary;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    p,
    li {
      color: $white;
    }
  }

  &.secondary {
    background-color: $secondary;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    p,
    li {
      color: $white;
    }
  }

  &.outlined {
    background-color: transparent;
    border: 1px solid $primary;

    ul {
      margin: 0;
      border: none;
    }
  }
}

