// --
// Language switcher
// -------------------
.language-switcher {
  display: inline-flex;
  padding: 0 0 0 20px;
  margin-right: 0;

  // @include media-breakpoint-up(lg) {
  //   margin-right: 20px;
  // }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: inline-block;
      padding: 0;
      margin: 0;
      font-size: .75rem;
      font-weight: 100;
      line-height: 1;
      color: $white;
      text-transform: uppercase;

      &::before {
        display: inline-block;
        content: "/";
      }

      &:first-child {
        &::before {
          content: "";
        }
      }
    }
  }

  span,
  a {
    margin: 0 6px 0 7px;
    color: inherit;
    letter-spacing: 1px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
