// ---
// Principal header

.banner {

  .top-header {
    height: $header-top-height;
    color: $white;
    background-color: $primary;

    .row {
      height: $header-top-height;
    }

    .toggle-button {
      margin-top: 5px;
      color: $white;

      .toggle-bar {
        background-color: $white;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .logo-uvigo {
      width: 200px;
      height: auto;
    }
  }

  .brand-logo {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }

    img {
      width: auto;
      max-height: 85px;
    }
  }

  .brand-mobile-logo {
    img {
      width: 220px;
      height: auto;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .menu-toggle {
    text-align: right;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .bottom-header {
    background-color: $white;
    border-bottom: 1px solid $gray-200;

    @include media-breakpoint-up(lg) {
      height: 200px;
      min-height: $header-bottom-height;
      padding: 0;

      .container {
        position: relative;
      }
    }
  }

  .bottom-header-row {
    align-items: center;
    height: 120px;

    @include media-breakpoint-up(lg) {
      align-items: flex-end;
      height: 200px;
    }
  }
}

.top-header-links {
  display: inline-flex;
  align-items: center;
  height: $header-top-height;
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    padding: 0;
    margin: 0 .5rem;
    font-size: .75rem;
    font-weight: 400;
    color: $white;
    text-transform: uppercase;
    white-space: nowrap;

    .elegant-icon {
      position: relative;
      padding-left: 1.625rem;

      span {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -(1.4375rem / 2);
        font-size: 1.25rem;
      }
    }

    a {
      color: inherit;
    }
  }
}

.header-widgets {
  display: flex;
  align-items: center;

  .widget_search {
    h3 {
      @extend .sr-only;
    }
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 40px;
    right: 20px;
    display: flex;
  }

  .textwidget {
    p {
      margin-bottom: 0;
      font-size: .75rem;
      font-weight: 400;
      color: $gray-500;
    }
  }
}

/* stylelint-disable selector-no-qualifying-type  */

.menu-container {
  position: absolute;
  top: 170px;
  right: 0;
  left: 0;
  z-index: 200;
  height: 0;
  min-height: 0;
  overflow: hidden;
  background-color: $primary;
  transition: height .5s;

  body.activenavigation & {
    height: 100%;
  }

  @include media-breakpoint-up(lg) {
    position: static;
    align-self: flex-end;
    height: auto;
    overflow: visible;
    text-align: right;
    background-color: transparent;
    transition: none;

    body.activenavigation & {
      height: auto;
    }
  }
}

/* stylelint-enable */
